<!-- Top app header (navbar) -->
<nav class="navbar dark-green shadow-sm">
  <div class="container-fluid text-light d-flex justify-content-between">
    <!-- Back button (handled in JS) -->
    <a class="potluck-logo navbar-brand d-flex" id="back-btn">
      <i class="bi bi-chevron-left text-light"></i>
    </a>

    <!-- App title -->
    <strong class="app-title">PotLuck</strong>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle settings bar">
      <span class="bi bi-gear text-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-light"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person me-1"></i>Account
          </a>
          <ul class="dropdown-menu dark-green p-1">
            <li class="nav-item-header" id="header-edit-profile-link">
              <a
                class="dropdown-nav-link nav-link dropdown-item auth-item"
                href="/profile/edit">
                <i class="bi bi-pencil-square me-1"></i> Edit Profile
              </a>
            </li>
          </ul>
        </li>

        <!-- Support link -->
        <li class="nav-item-header">
          <a class="nav-link text-light" href="#"
            ><i class="bi bi-patch-question me-1"></i> Support</a
          >
        </li>

        <!-- Auth Section -->
        <!-- Shown when logged out -->
        <li class="nav-item-header" id="header-login-link">
          <a class="nav-link dropdown-item auth-item" href="/login">
            <i class="bi bi-box-arrow-in-right me-1"></i> Login
          </a>
        </li>

        <!-- Shown when logged in; toggled via JS -->
        <li class="nav-item-header d-none" id="header-logout-button">
          <button class="nav-link dropdown-item auth-item logout" type="button">
            <i class="bi bi-box-arrow-right me-1"></i> Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
